.donation {
  background: var(--horizontal-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 10px;
  align-items: center;
  max-width: 400px;
  animation: DonationAnimation 0s ease-in 20s forwards;
}
.donation img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.donation div {
  width: 100%;
}
.title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.message {
  font-size: 18px;
}
.progress {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(256, 265, 256, 0.2);
  animation: ProgressAnimation 20s linear;
}
@keyframes ProgressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes DonationAnimation {
  to {
      visibility: hidden;
  }
}
