
.imageBorder {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  display: flex;
  background: var(--vertical-color);
  cursor: pointer;
  margin:5px;
  justify-content: center;
  align-items: center;
}
.image {
  height: 95px;
  width: 95px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}