.goal {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: var(--horizontal-color);
}
.progress {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.text {
  height:100%;
  font-weight: bold;
  position: absolute;
  right: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
