.header {
  background: rgba(0, 0, 0, 0.3);

}
.content{
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  max-width: 1000px;
  padding: 10px 10px;
}
.title {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
}
.button {
  border-radius: 10px;
  padding: 12px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  background: var(--horizontal-color);
  box-shadow: 0px 5px 18px rgba(112, 0, 255, 0.56);
  cursor: pointer;
}
