.header {
  position: relative;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.19);
}
.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: #ffffff;
}
.button {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 10px;
  border: 0ch;
  padding: 10px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  color: #ffffff;
}
