@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  margin: 10px;
  background-color: coral;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

button.MuiButton-contained{
  @apply bg-primary !important;
}

svg.MuiSvgIcon-root{
  @apply text-primary hover:text-primaryDark hover:scale-125 duration-300
}
h2{
  @apply uppercase font-bold text-lg mb-4
}
section{
  @apply my-24
}